.footer {
    position: absolute; 
    bottom: 0; 
    left: 0px;
    width: 100%;
    height: 200px; 
    background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/8c7c2f1f7f0ad4e4188183ac4b58840bac63df589165099f22e5a8c9c8da274d?placeholderIfAbsent=true&apiKey=9ccc22c2724c427c8498a732bb366bf4');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
  }
  
  .footer-logo {
    margin-top: 10px;
    height: auto;
    max-height: 100px; 
  }
  
  .footer-copyright {
    margin-top: -60px;
    margin-left: 200px; 
    font-size: 14px; 
    color: black; 
    text-align: center; 
  }
  